* {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: darkgray;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outer-div{
    border: 2px solid red;
    height: 67%;
    width: 53%;
    display: flex;
    border-radius: 10px;
  }

  .left-div{
      width: 50%;
      height: 100%;
      border: 2px solid green;
      box-sizing: border-box;
      padding: 0px 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .button-1{
    font-size: 12px;
    width: 100%;
    border: red 2px solid;
    color: black;
    padding: 12px 45px;
    /* border-radius: 40px; */
    font-size: 12px arial;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: whitesmoke;
    /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
}

  .right-div{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid green;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
    /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
    background-color: rgb(28,41,74);
    color: white;
}

.right-div h1{
    font-size: 35px;
    font-weight: bolder;
    /* border: 2px solid green; */
    margin: 0%;
}

.right-div p{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    /* border: 2px solid green; */
    margin: 20px 0px 30px;
}

.button{
    font-size: 12px;
    border: white 1px solid;
    color: white;
    padding: 12px 45px;
    border-radius: 40px;
    font-size: 12px arial;
    /* background: linear-gradient(to right, #Frgb(28,41,74)C); */
    background-color: rgb(28,41,74);
}