* {
  font-family: "Montserrat", sans-serif;
  /* margin: 0%; */
  /* padding: 0%; */
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(8, 25, 45);
  color: white;
  padding: 0px 20px;
}

.header h2 {
  position: relative;
  right: 10vw;
}

.header h2 span {
  color: rgb(252, 2, 84);
}

.header-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

/* .home, .about, .pages, .news, .contact{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list a{
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-list :hover {
  color: rgb(252, 2, 84);
}

.sub-pages{
  display: none;
}

/* #pages:hover .sub-pages{
  display: block;
  /* position: absolute; */
/* } */ 

/* #pages:hover .sub-pages ul{
  display: block;
  color: white;
} */

.header-option {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  box-sizing: content-box;
  cursor: pointer;
}

.header-option span {
  color: rgb(252, 2, 84);
}

.header-option a{
  color: white;
  text-decoration: none;
}

#bar {
  cursor: auto;
}

.main-image{
  width: 100%;
  height: 100%;
  background-color: rgb(10, 24, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 52px 55px;
  box-sizing: border-box;
  color: white; 
}

.left-div{
  width: 38%;
  height: 100%;
  color: white;
  margin: 0%;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 70px;
  align-items: center;
}

.left-div h2{
  font-size: 70px;
  width: 100%;
  margin: 0%;
  margin-top: 20%;
  font-weight: bolder;
}

h2 span{
  color: rgb(252, 2, 84);
}

.left-div p{
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin: 0%;
  margin-top: 12px;
  padding-right: 12%;
}

.main-buttons{
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 45px;
}

.button{
  width: 35%;
  background-color: rgb(252, 2, 84);
  color: white;
  border: none;
  padding: 23px 0px;
  font-size: 14px;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 20px;
}

#start-trial{
  background-color: rgb(56,59,112);
}

.right-div{
   /* background-image: url(/xhero-bg.png.pagespeed.ic_.GoIKFhhe_u.webp); */
  width: 44%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5px;
}

#bg-image {
  width: 100%;
  height: 70%;
  margin-bottom: 15%;
}

.main-image-1{
  width: 100%;
  height: 100%;
  background-color: rgb(10, 24, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 52px 55px;
  box-sizing: border-box;
  color: white; 
  /* display: none; */
}

.outer-main{
  width: 100%;
  /* border: 2px solid red; */
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
 }

 /* #section-1 {position: relative;
  overflow: hidden}

  #section-2 {position: relative;
    overflow: hidden}

  .outer-main > * {position: absolute; top: 100%; left: 0;
    animation: 13s autoplay1 infinite ease-in-out}

    @keyframes autoplay1 {
      0% {top: 100%}
      4% {top: 0%}
      33.33% {top: 0%}
      37.33% {top: -100%}
      100% {top: -100%}
    }

    #section-1 > *:nth-child(1) {animation-delay: 0s}
#section-2 > *:nth-child(2) {animation-delay: -2s} */




/* #section-1 > *:nth-child(3) {animation-delay: -4s} */

/* #section-1{
  transform: translate3d(-3038px, 0px, 0px);
  transition: all 2s ease 2s;
  /* width: 9116px; */
/* } */

/* #section-2{
  transform: translate3d(-3038px, 0px, 0px);
  transition: all 2s ease 2s;
  /* width: 9116px; */
/* }  */

.main-content {
  width: 100%;
  height: 66%;
  display: flex;
  box-sizing: border-box;
}

.left-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 60px;
  font-weight: bolder;
  text-align: left;
  color: rgb(10, 24, 61);
}

.left-content p{
  padding-right: 50px;
  margin-bottom: 27%;
}

.right-content {
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content p{
  margin: 0%;
  line-height: 27px;
  width: 77%;
  padding: 0%;
  color: grey;
  margin-top: 2%;
}

.button-1{
  width: 27%;
  height: 14%;
  background-color: rgb(252, 2, 84);
  color: white;
  border: none;
  padding: 20px 0px;
  font-size: 14px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 35px;
}

.working-div{
    width: 100%;
    height: 80%;
    padding: 90px 70px;
    background-color: rgb(10, 24, 61);
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-div{
    width: 83%;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.lower-div{
    width: 83%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.box-1{
    width: 31%;
    height: 100%;
}

.box-1 p{
    color: grey;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
}

.square{
    width: 60px;
    height: 60px;
    background-color: rgb(252, 2, 84);
    border-radius: 50%;
    position: absolute;
    margin-bottom: 60px;
}

.img{
    position: relative;
    left: 9%;
    top: 7%;
    margin-bottom: 20px;
}

.concept-artist{
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.concept{
  width: 83%;
  display: flex;
  padding: 52px 55px;
  box-sizing: border-box;
}

.concept-left{
  width: 50%;
  font-size: 60px;
  font-weight: bold;
  color: rgb(10, 24, 61);
}

.concept-right{
  width: 50%;
  color: grey;
  line-height: 30px;
  text-align: justify;
  padding-left: 30px;
}

.blocks{
  width: 77%;
  display: flex;
  justify-content: space-between;
}

.block-1{
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
}

.img-1{
  height: 100%;
  width: 95%;
  border-radius: 40px;
  color: rgb(10, 24, 61);
}

.subscription{
  width: 100%;
  height: 90%;
  background-color: rgb(10, 24, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 52px 55px;
  box-sizing: border-box;
}

.subscription-left{
  width: 42%;
  height: 100%;
  color: white;
  padding: 52px 13px 30% 13px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.subscription-heading{
  font-size: 60px;
}

.sub-heading{
  color: rgb(252, 2, 84);
  font-size: 30px;
  margin-top: 2%;
}

.subscription-left p{
  color: grey;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-top: 5%;
}

.button-2{
  width: 35%;
  background-color: rgb(252, 2, 84);
  color: white;
  border: none;
  padding: 20px 0px;
  font-size: 14px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 11px;
}

.subscription-right{
  width: 42%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists{
  color: white;
  height: 80%;
  width: 95%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 55px;
  background-color: rgb(28,41,74);
  border-radius: 40px;
  padding: 9% 27%;
}

.lists img{
  margin-right: 20px;
}

.premium-info{
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.premium-heading{
  width: 83%;
  display: flex;
  padding: 52px 55px;
  box-sizing: border-box;
}

.premium-left{
  width: 50%;
  font-size: 60px;
  font-weight: bold;
  color: rgb(10, 24, 61);
}

.premium-right{
  width: 50%;
  color: grey;
  line-height: 30px;
  text-align: justify;
  padding-left: 30px;
}

.premium-blocks{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.premium-block-1{
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.premium-block-1 h4{
  margin: 0px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  color:rgb(10, 24, 61);
}

.premium-block-1 p{
  font-size: 15px;
  color: grey;
  margin-top: 7px;
  gap: 0px;
}

.img-2{
  height: 85%;
  width: 70%;
  border-radius: 50%;
  color: rgb(10, 24, 61);
}

.footer{
  width: 100%;
  height: 50%;
  background-color: rgb(10, 24, 61);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer-left{
  width: 38.5%;
  height: 70%;
  color: white;
  padding-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.footer-logo{
  font-size: 24px;
  font-weight: bold;
}

.footer-logo span{
  color: rgb(252, 2, 84);
}

.copyright{
  font-size: 11px;
  color: grey;
  margin-top: 10px;
}

.copyright span{
  color: rgb(2,112,228);
  cursor: pointer;
}

.social-links{
  width: 100%;
  color: grey;
  padding: 10px 0px;
  margin-top: 25px;
  display: flex;
  box-sizing: border-box;
  gap: 3px;
}

#link{
  margin-right: 30px;
  cursor: pointer;
}

.footer-right{
  width: 38.5%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 10px;
}

.footer-logo1{
  display: none;
}

.footer-box{
  width: 32%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.footer-box h4{
  color: white;
  margin: 0px;
  margin-bottom: 5px;
  text-align: left;
}

.footer-box ul{
  padding: 0px;
}

.footer-box li{
  font-size: 14px;
  color: grey;
  line-height: 33px;
  cursor: pointer;
}
 @media (max-width: 900px){
 
.header{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.header h2{
  width: 100%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  padding-top: 3%;
  font-size: 27px;
  padding-left: 18%;
}

.header-list{
  width: 100%;
  padding: 0%;
}

.header-option{
  width: 100%;
}

.outer-main{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-image{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  padding-top: 5%;
}

.left-div{
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-div h2{
  box-sizing: border-box;
  width: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-size: 40px;
}

.left-div p{
  width: auto;
  text-align: center;
  padding: 0%;
}

.main-buttons{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  margin-top: 3%;
  padding: 0% 2% 0%;
}

.button{
  width: 50%;
  padding: 5% 3%;
  margin: 0%;
  margin-right: 1%;
  border-radius: 10px;
}

.right-div{
  width: 100%;
  height: 50%;
  padding: 0%;
  box-sizing: border-box;
}

#bg-image{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  margin: 20% 1% 1% 1%;
}

.main-image-1{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-content{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  margin: 3% 1% 3% 1%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.left-content{
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-content p{
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-size: 40px;
}

.right-content{
  height: auto;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-content p{
  width: 100%;
  padding: 0%;
  margin: 0%;
  margin-top: 1%;
}

.button-1{
  width: 100%;
}

.working-div{
  width: auto;
  height: auto;
  padding: 0%;
  margin: 0%;
  padding: 3% 1% 3% 2%;
}

.upper-div{
  width: auto;
  text-align: center;
  font-size: 40px;
  padding: 0%;
  margin: 0%;

}

.lower-div{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box-1{
  width: 100%;
}

.box-1 h2{
  font-size: 20px;
}

.img{
  left: 9%;
  top: 7%;
  margin-bottom: 10px;
}

.concept-artist{
  width: auto;
  height: auto;
  padding: 3% 1% 3% 1%;
}

.concept{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
}

.concept-left{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 2%;
}

.concept-right{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0%;
}

.blocks{
  display: flex;
  flex-direction: column;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.block-1{
width: 80%;
margin-bottom: 3%;
}

.subscription{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  padding: 3% 1% 3% 1%;
}

.subscription-left{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
  margin-bottom: 5%;
}

.subscription-heading{
  width: 100%;
  padding: 0%;
  margin: 0%;
  margin-bottom: 2%;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
}

.sub-heading{
  box-sizing: border-box;
  width: 100%;
  padding: 0%;
  margin: 0%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 25px;
}

.subscription-left p{
  width: 100%;
  text-align: center;
  padding: 0%;
  margin: 0%;
  margin-bottom: 3%;
  box-sizing: border-box;
}

.button-2{
  width: 100%;
  margin: 0%;
}

.subscription-right{
  width: 100%;
  padding: 0%;
  margin: 0%;
  margin: 0% 0% 2% 0%;
}

.lists{
  width: 85%;
  height: 25rem;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lists li{
  padding-left: 30px;
}

.premium-info{
  width: auto;
  height: auto;
  padding: 3% 1% 3% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.premium-heading{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
}

.premium-left{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 3%;
}

.premium-right{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0%;
}

.premium-blocks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0%;
  margin: 0%;
}

.premium-block-1{
  width: 100%;
  margin-bottom: 1%;
}

.img-2{
  margin: 0%;
  padding: 0%;
}

.premium-block-1 h4{
  margin: 0%;
  padding: 0%;
  margin-top: 2%;
  font-size: 20px;
}

.footer{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  padding: 3% 1% 3% 1%;
}

.footer-left{
  width: auto;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column-reverse;
}

.footer-logo{
  text-align: left;
  display: none;
}

.copyright{
  text-align: left;
  line-height: 17px;
}

.social-links{
  justify-content: left;
  margin: 0%;
  margin: 3% 0%;
}

.footer-right{
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  margin-top: 4%;
}

.footer-logo1{
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 4%;
}

.footer-logo1 span{
  color: rgb(252, 2, 84);
}
}